body {
    background: #f9fafb;
    font-family: "Inter", sans-serif;
}

.dashboard {
    font-family: "Poppins", sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 24px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.dashboard h2 {
    text-align: center;
    color: #0070f3;
    margin-bottom: 20px;
}

.expense-item {
    background: white;
    padding: 12px 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-item span {
    color:#555;
    font-size: 14px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;

}

.logout-btn:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}
